:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    /* Btn */
    --btn: #0079ff;
    --btn-hover: #60abff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
  }

  .wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--lm-bg);
    font-size: 13px;
    color: var(--lm-text);
  }

  .container{
    position: absolute;
    width: 350px;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    gap: 36px;
  }

  #app{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dark-mode{
    display: flex;
    width: 90px;
    justify-content: space-between;
    align-items: center;
    color: var(--lm-text);
    font-weight: bold;
    letter-spacing: 2.5px;
    cursor: pointer;
  }

  .searchbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 6px;
    border-radius: 15px;
    background-color: var(--lm-bg-content);
    box-shadow: var(--lm-shadow);
    background-image: url(./assets/images/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 24px;
    background-position-y: center;
}

.searchbar img{
    height: 20px;
    width: 20px;
    padding: 0 10px 0px 16px;
}

#input{
  border: none;
  outline: none;
  background: none;
  width: 80%;
  padding-left: 50px;
  color: var(--lm-text);
}

#input::placeholder{
  font-size: 13px;
  color: var(--lm-text);
  letter-spacing: -0.5px;
}

.search-btn{
  min-width: 84px;
  border: none;
  outline: none;
  color: white;
  background-color: var(--btn);
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
}

.search-btn:hover{
  background-color: var(--btn-hover);
}

.search-btn:active{
  transform: scale(0.975);
}

.profile-container{
  padding: 24px;
  border-radius: 15px;
  background-color: var(--lm-bg-content);
  box-shadow: var(--lm-shadow);
}

.profile-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
}

.profile-header{
  display: flex;
  margin-bottom: 10px;
  gap: 20px;
}

.profile-info-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#avatar{
  width: 70px;
  border-radius: 90px;
}

.profile-name{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name h2{
  font-size: 16px;
  font-weight: bold;
  color: var(--lm-text-alt);
}

#user{
  color: var(--btn);
}

#bio{
  line-height: 25px;
  opacity: 0.75;
}

.profile-stats-wrapper{
  display: flex;
  background-color: var(--lm-bg);
  justify-content: space-between;
  text-align: center;
  padding: 18px;
  border-radius: 10px;
}

.profile-stat{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.stat-title{
  font-size: 11px;
}

.stat-value{
  font-size: 16px;
  font-weight: bold;
  color: var(--lm-text-alt);
}

.profile-bottom-wrappers{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px 0;
}

.profile-info{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.links-icon{
  width: 20px;
  filter: var(--lm-icon-bg);
}

.profile-info p{
  overflow-wrap: break-word;
}

.profile-info a{
  color: var(--lm-text);
  word-break: break-all;
}

.error{
  position: absolute;
  color: red;
  font-weight: bold;
  right: 10px;
  top: -25px;
}

.dm-text {
  color: var(--dm-text);
}

.dm-bg {
  background-color: var(--dm-bg);
}

.dm-bg-sec {
  background-color: var(--dm-bg-content);
}

.active {
  box-shadow: var(--lm-shadow);
}

@media screen and (min-width: 320px) {

  .title{
    font-size: 18px;
  }
  .container{
    width: 280px;
  }

  .searchbar{
    padding: 7px;
  }

  #input {
    font-size: 16px;
    width: 60%;
  }

  #input::placeholder {
    font-size: 12px;
  }

  .profile-info {
    width: 90%;
    font-size: 15px;
  }

}
@media screen and (min-width: 375px) {

  .title{
    font-size: 22px;
  }
  .container{
    width: 300px;
  }

  .searchbar{
    padding: 7px;
  }

  #input {
    font-size: 16px;
    width: 60%;
  }

  #input::placeholder {
    font-size: 12px;
  }

  .profile-info {
    width: 90%;
    font-size: 15px;
  }

}
@media screen and (min-width: 425px) {
  .container{
    width: 350px;
  }

  .searchbar{
    padding: 7px;
  }

  #input {
    font-size: 16px;
    width: 65%;
  }

  #input::placeholder {
    font-size: 12px;
  }

  .profile-info {
    width: 90%;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {

  .container {
    width: 573px;
  }

  .searchbar{
    padding: 10px;
  }

  #input {
    font-size: 18px;
    width: 75%;
  }

  #input::placeholder {
    font-size: 18px;
  }

  .search-btn {
    padding: 14px 28px;
    font-size: 16px;
  }

  #app{
    gap: 24px;
  }

  .profile-container{
    padding: 40px;
  }

  .profile-header{
    margin-bottom: 0;
  }

  #avatar{
    width: 117px;
  }

  .profile-content{
    gap: 30px;
  }

  .profile-info-wrapper {
    justify-content: center;
  }
  
  .profile-name h2 {
    font-size: 26px;
  }

  #user {
    font-size: 16px;
  }

  #date {
    font-size: 15px;
  }

  #bio {
    font-size: 15px;
  }

  .error {
    font-size: 15px;
    top: -30px;
  }

  .profile-stats-wrapper {
    padding: 18px 32px;
  }

  .profile-stat {
    text-align: start;
  }

  .stat-title {
    font-size: 13px;
  }

  .stat-value {
    font-size: 22px;
  }

  .profile-bottom-wrappers {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .profile-info {
    width: 47.5%;
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container{
    width: 750px;
  }

  .profile-container{
    position: relative;
  }

  .profile-content{
    width: 480px;
    margin-left: auto;
    gap: 16px;
  }

  #avatar{
    position: absolute;
    left: 0;
    margin-left: 40px;
  }

  .profile-info-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-name{
    gap: 2px;
  }

  #date {
    padding-top: 10px;
  }

  .profile-stats-wrapper {
    margin: 20px 0;
  }

  .error{
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    font-size: 15px;
  }

  #input {
    width: 65%;
  }

}